*{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.welcome{
    text-align: center;
}

#button{
    align-items: end;
    text-decoration: none;
} 


button{
    padding: 10px 15px;
    background-color: #ffffff; /* Red color to signify action */
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #E29C8F; /* Darker shade of red for hover effect */
}


a{
    color: black;
}